<ion-header>
	<ion-toolbar>
		<ion-title>perfil</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-card color="carts" *ngFor="let dato of datos">
		<ion-card-content>
			<ion-item>
				<ion-avatar item-start>
					<img [src]="dato.foto" class="foto" />
				</ion-avatar>

				<ion-label>{{dato.fullname}}</ion-label>

				<ion-button *ngIf="!verdatos; else ocultar" fill="outline" size='small' color="normal"
					(click)="verdatos=!verdatos">Ver</ion-button>
				<ng-template #ocultar>
					<ion-button fill="outline" size='small' color="normal" (click)="verdatos=!verdatos">Ocultar
					</ion-button>
				</ng-template>
			</ion-item>
			<ion-grid *ngIf="verdatos">
				<ion-row>
					<ion-col col-5>Fecha de nacimiento</ion-col>

					<ion-col col-7></ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-5>Género</ion-col>
					<ion-col col-7></ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-5>Peso kg</ion-col>
					<ion-col col-7>Altura:  cm</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-5>Teléfono</ion-col>
					<ion-col col-7></ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-5>Email</ion-col>
					<ion-col col-7></ion-col>

				</ion-row>
			</ion-grid>
		</ion-card-content>
	</ion-card>
	<ion-card *ngIf="datos.length==0" class="ion-text-center">
		<ion-spinner name="lines"></ion-spinner>
	</ion-card>

	<ion-list>
		<ion-item>
			<ion-button expand="full" (click)="modperfil()" fill="clear">
				<ion-icon slot="start" name="paper"></ion-icon>
				Editar perfil
			</ion-button>
		</ion-item>
		<ion-item (click)="presentAlertConfirm()">
			<ion-label>Cerrar sesion</ion-label>
		</ion-item>
	</ion-list>
	<ion-button expand="full" (click)="modperfil()" fill="clear" color="normal">
		<ion-icon slot="start" name="paper"></ion-icon>
		Editar perfil
	</ion-button>
	<ion-button expand="full" (click)="presentAlertConfirm()" fill="clear" color="normal">
		<ion-icon slot="start" name=""></ion-icon>
		Cerrar sesion
	</ion-button>
</ion-content>