<ion-header>
  <ion-toolbar>
    <ion-title>Mis Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-list>
    <ion-item>
        <ion-avatar item-start>
            <img src="../../../assets/imgs/fotografo.jpg">
          </ion-avatar>
      <ion-label class="label-name-course">
        Zumba 
        <br>
        <h5>Insctructor: Daniel Alejandro Jaimes</h5>
      </ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar item-start>
            <img src="../../../assets/imgs/fotografo.jpg">
          </ion-avatar>
      <ion-label class="label-name-course">
        Yoga
        <br>
        <h5>Insctructor: Luis Fernando Huanca</h5>
      </ion-label>

    </ion-item>
    <ion-item>
        <ion-avatar item-start>
            <img src="../../../assets/imgs/fotografo.jpg">
          </ion-avatar>
      <ion-label class="label-name-course">
        Musculito
          <br>
          <h5>Insctructor: Omar Canaza Nina</h5>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
